@import '~react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-grey-700;
$md-secondary-color: $md-light-blue-200;

@include react-md-everything;

$md-tertiary-color: $md-grey-50;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
